{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}

<link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">

<link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">

<link rel="stylesheet" href="{{ '/assets/css/font-tambahan.css' | relative_url }}">

<link rel="stylesheet" href="{{ '/assets/css/tambahan.css' | relative_url }}">

<link rel="stylesheet" href="{{ '/assets/css/font-awesome.min.css' | relative_url }}">

<meta name="google-site-verification" content="axYmCzFKvYf0k574bQ6rSFmv5xuDDmVMjU7oOOTr20M" />
