searchbar {
    width: max(30vw,min(500px,90vw));
    height: 44px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border: 1px solid rgba(128,126,163,.8);
    box-shadow: none;
    border-radius: 3px;
    font-size: 12pt;
    padding: 2px 0;
}

.mx-auto {
    margin-right: auto!important;
    margin-left: auto!important;
}
